{% render 'partials/head.liquid', title: 'Squad page' %}





<nav class="topbar">
        <a href="/">Id</a>
        <a href="/squad-1j">Squad 1J</a>
        <a href="/squad-1I">Squad 1I</a>
        <a href="/az">Naam a → z</a>
        <a href="/za">Naam z → a</a>
        <details> </details>
    </nav>

    <main class="layout">

        <!-- LINKER CONTENT -->
        <section class="content">
            <section class="grid">


                {% for person in persons %}
                    <a href="/student/{{ person.id }}" class="card">
                    
                        {% if person.avatar %}
                            <img class="thumb" src="{{ person.avatar }}">
                        {% else %}
                            <img class="thumb" src="image.png">
                        {% endif %}


                        <p>{{ person.name }}</p>
                     <p>{{ person.vibe_emoji }}  {{ person.id }} {{ person.fav_emoji }} </p>
                    </a>
                {% endfor %}

               

            </section>
        </section>

        <!-- RECHTER PANEL (eigen deel) -->
        {% comment %} <aside class="sidebar">

            <img alt="Foto van huidige squadlid" class="preview">

            <section class="bio">
                <h1>Bio</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed arcu urna, molestie ac mauris et, commodo tincidunt est.
                </p>
            </section>

        </aside> {% endcomment %}

    </main>

    {% comment %} {{ persons|json }} {% endcomment %}
