{% render 'partials/head.liquid', title: 'Squad page' %}

<nav class="topbar">
        <button>Squad 1</button>
        <button>Squad 11</button>
        <button>Naam a → z</button>
        <button>Naam z → a</button>
        <details >Favoriet eten ▾</details>
    </nav>

    <main class="layout">

        <!-- LINKER CONTENT -->
        <section class="content">
            <ul class="grid">

                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>

                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>

                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>

                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>
                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>

                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>
                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>
                
                <li class="card">
                    <img class="thumb">
                    <p>{{ person.name }}</p>
                </li>

            </ul>
        </section>

        <!-- RECHTER PANEL (eigen deel) -->
        <aside class="sidebar">

            <img alt="Foto van huidige squadlid" class="preview">

            <section class="bio">
                <h1>Bio</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed arcu urna, molestie ac mauris et, commodo tincidunt est.
                </p>
            </section>

        </aside>

    </main>

{% render 'partials/foot.liquid', squads: squads %}